@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.left_side_elem {
  padding: 2rem 0 2rem 5%;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.arsela_logo {
  width: 206px;
  height: 47px;
}

.left_side_box {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 80px 0;
  padding: 0;
}

.tech_test {
  transform: matrix(0, -1, 1, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 20px;
  width: 500px;
  /* padding: 0;
  margin:  0; */
  height: 519px;
}

.services {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
}

.services_box{
    margin-top: 6rem;
}

.paragrah_services {
  /* position: relative;

  text-align: right; */
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 453px;
}
.btn_edit{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
border-radius: 28px;
opacity: 1;
}